
            
    <!-- <head>
       <title>Kombo Cash/Homepage</title>
       <meta charset="utf-8">
       
      <meta name="description" content="">
       <meta name="viewport" content="width=device-width, initial-scale=1">
       <link rel="stylesheet" href="css\bootstrap.min.css">
       <link rel="stylesheet" href="css\animations.css">
       <link rel="stylesheet" href="css\fonts.css">
       <link rel="stylesheet" href="css\main.css" class="color-switcher-link">
       <link rel="stylesheet" href="css\shop.css">
       <script src="js\vendor\modernizr-2.6.2.min.js"></script>
       <script src="https://kit.fontawesome.com/9510a3fc0f.js"></script>
       
    </head> -->
    
       <div id="canvas">
          <div id="box_wrapper">
            
       <section class="intro_section page_mainslider ds">

                <div class="flexslider vertical-nav" data-dots="true" data-nav="false">

                <div class="col-sm-12 margin-0 padding-0">

                            <a href="homepage.html" class="logo top_logo padding-0 absolute">
                            <img src="../../assets/images-user/horizontal2.png" alt="">
                            </a>
                      

                         <img src="https://raw.githubusercontent.com/asinghal279/Kombo-Cash-Designs/master/images/slide04.jpg" alt="">

      
      

       <div class="col-sm-5 col-xs-12 form-group sign-in-form text-center absolute padding-10-30 background-white border-1" id="sign-in-form">
         
        
                        
                         <h4 class="color-black">Change Password</h4>

                         <form class="padding-0" #form="ngForm">
                            <div class="form-group">
                               <label class="col-md-4 control-label color-black">New Password</label>
                               <div class="col-md-8">
                                 <input id="password-field" type="password" class="form-control settings-input" name="password" ngModel #password="ngModel">
                                 <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password color-black font-size-18"></span>
                                 <input type="submit" name="change-password-submit" (click)="changePassword(form);" class="change-password-submit padding-10 pull-left">
                               </div>
                             </div>
                         </form>

       </div>
    </div>
                         
                        
                      
                </div>
        
             </section>

        <!--       <footer class="page_footer ds">
                <div class="container">
                   <div class="row">
                      
                      <div class="col-sm-12 text-center">
                         <a href="dashboard.html" class="col-sm-4 logo vertical_logo ">
                         <img src="images\horizontal2.png" class="max-width margin-0 margin-bottom-0" alt="">
                         </a>
                         
                         <ul class="col-sm-8 line-height-6 inline-content font-size-18 semibold darklinks margin-bottom-0">
                            <li>
                               <a href="#0" class="padding-left-0 padding-right-0 footer-color ">About</a>
                            </li>
                            <li>
                               <a href="#0" class="padding-left-0 padding-right-0 footer-color ">Terms & Conditions</a>
                            </li>
                            <li>
                               <a href="#0" class="padding-left-0 padding-right-0 footer-color ">Privacy Policy</a>
                            </li>
                            <li>
                               <a href="#0" class="padding-left-0 padding-right-0 footer-color ">Cookie Policy</a>
                            </li>
                         </ul>
                         <div class="col-sm-12 text-center padding-0 margin-top-0">
                         <p class="font-16">Kombo Cash intends to change the way credit is delivered in India by harnessing the power of technology and digital platform.
                            Our unique model is built on the premise that when information is transparently made available to both borrowers and lenders, decision making is simple and noise free.
                         </p>
                      </div>
                      </div>
                   </div>
                </div>
             </footer> -->
             <section class="ds color page_copyrightwith_top_border_container padding-bottom-5">
                <div class="container">
                   <div class="row">
                      <div class="col-sm-12 text-center">
                         <p class="font-size-14">&copy; Copyright 2019 <span class="font-weight-900">Kombo Cash</span>. Made with <span style="color: red; font-size: 25px;">&hearts;</span> by <span class="font-weight-900" style="color: #b81f6f;">VAYUZ Technologies.</span></p>
                      </div>
                   </div>
                </div>
             </section>
          </div>
       </div>
       <script src="js\compressed.js"></script>
       <script src="js\main.js"></script>
       <script type="text/javascript">
           $(".toggle-password").click(function() {
$(this).toggleClass("fa-eye fa-eye-slash");
var input = $($(this).attr("toggle"));
if (input.attr("type") == "password") {
input.attr("type", "text");
} else {
input.attr("type", "password");
}
});
       </script>
    
