 


    <div class="app header-default side-nav-dark">
        <div class="layout">
        
        <div class="page-container">
        
        <div class="main-content">
        <div class="container-fluid">
        
        <div class="breadcrumb-wrapper row">
        <div class="col-12 col-lg-3 col-md-6">
        <h4 class="page-title">User Management</h4>
        <button *ngFor="let user of user" routerLink="/admin/personal-details/{{user._id}}" class="btn btn-danger" >Personal</button>
        <button routerLink="/admin/borrowing-details" class="btn btn-success" >Borrowing</button>
        <br>
        </div>
        <div class="col-12 col-lg-9 col-md-6">
        <ol class="breadcrumb float-right">
        <!-- <li><a href="#">Tables</a></li>
        <li class="active"> / Data Table</li> -->
        </ol>
        </div>
        </div>
        
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                <div class="card">
                <div class="card-header border-bottom">
                <h4 class="card-title">Borrowing Details</h4>
                </div>
                <div class="card-body">
                <div class="table-responsive">
                <table id="datatable-buttons" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                <tr>
                <th>Id</th>
                <th>Status</th>
                <th>Application Date</th>
                <th>Start Date</th>
                <th>Intrest Rate</th>
                <th>Amount Payable</th>
                <th>Repayment Tenure</th>
                <th>Installment Payable </th>
                <th>Installment Due Date </th>
                <th>Action</th>
                </tr>
                </thead>
                <tbody>
                
               
                </tbody>
                </table>
                </div>
                </div>
                </div>
                </div> 
                </div> 
       
        </div>
        
        
        
        </div>
        
        </div>
        </div>
        

        
        
        <script src="../../../../assets/js/jquery-min.js"></script>
        <script src="../../../../assets/js/popper.min.js"></script>
        <script src="../../../../assets/js/bootstrap.min.js"></script>
        <script src="../../../../assets/js/jquery.app.js"></script>
        <script src="../../../../assets/js/main.js"></script>
        
        <script src="../../../../assets/plugins/datatables/jquery.dataTables.min.js"></script>
        <script src="../../../../assets/plugins/datatables/dataTables.bootstrap4.min.js"></script>
        
        <script src="../../../../assets/plugins/datatables/dataTables.buttons.min.js"></script>
        <script src="../../../../assets/plugins/datatables/buttons.bootstrap4.min.js"></script>
        <script src="../../../../assets/plugins/datatables/jszip.min.js"></script>
        <script src="../../../../assets/plugins/datatables/pdfmake.min.js"></script>
        <script src="../../../../assets/plugins/datatables/vfs_fonts.js"></script>
        <script src="../../../../assets/plugins/datatables/buttons.html5.min.js"></script>
        <script src="../../../../assets/plugins/datatables/buttons.print.min.js"></script>
        <script src="../../../../assets/plugins/datatables/buttons.colVis.min.js"></script>
        
        <script src="../../../../assets/plugins/datatables/dataTables.responsive.min.js"></script>
        <script src="../../../../assets/plugins/datatables/responsive.bootstrap4.min.js"></script>
        
        <script src="../../../../assets/js/datatables.init.js"></script>
        
        <!-- Mirrored from preview.uideck.com/items/inspire-pro/default/data-table.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 04 Jul 2019 08:55:27 GMT -->
         </div>    