<section class="intro_section page_mainslider ds">
    <div class="flexslider vertical-nav" data-dots="true" data-nav="false">
       
       
             <div class="overlay">
             </div>
             <img src="../../assets/images-user/slide03.jpg"  alt="">
             
             <div class="container">
                <div class="row">
                   <div class="col-sm-12 text-left ">
                      <div class="slide_description_wrapper padding-0">
                         <div class="slide_description">
                            <div class="intro-layer margin-bottom-0" data-animation="fadeInUp">
                               <h4 class="color-black">
                                  Our Customers love us
                               </h4>
                            </div>
                            <div class="col-sm-12 padding-left0 intro-layer margin-bottom-0 margin-top-0" data-animation="fadeInUp">
                               <h2 class="thin font-weight-400 color-black margin-top-0">
                                  Financing Africa’s emerging middle class
                               </h2>
                            </div>
                            <div class="col-sm-12 text-center background margin-top-60 margin-bottom-0">
                               <form class="loan-form row" #form="ngForm">
                                  <div class="col-sm-5 margin-bottom-0 margin-top-0 padding-0">
                                     <div class="loan-form-city font-style-normal">
                                        <input type="number" aria-required="true" value="" name="amount_required" id="amount_required" class="form-control font-style-normal border-grey-1" placeholder="Amount" ngModel #amount_required ="ngModel" Required>
                                     </div>
                                  </div>
                                  <div class="col-sm-5 margin-bottom-0 margin-top-0 padding-0">
                                     <div class="form-group select-group">
                                        <label for="state" class="sr-only">State</label>
                                        <select id="state" name="state" ngModel #state ="ngModel" class="choice empty form-control border-grey-1">
                                           <option value="" disabled="" selected="" data-default="" class="font-style-normal">Borrowing For*</option>
                                           <option value="Vehicle">Vehicle</option>
                                           <option value="Rent Payment">Rent Payment</option>
                                           <option value="Student Fees">Student Fees</option>
                                           <option value="Medical Fees">Medical Fees</option>
                                           <option value="Land Purchase">Land Purchase </option>
                                           <option value="Business Function">Business Function</option>
                                           <option value="Other">Other</option>
                                        </select>
                                        <i class="fa fa-angle-down theme_button" aria-hidden="true"></i>
                                     </div>
                                  </div>
                                  <div class="col-sm-2 margin-bottom-0 margin-top-0 padding-0">
                                     <div class="loan-form-submit">
                                        <a type="submit" (click)="amount(form);" id="loan_form_submit" name="loan_submit" class="theme_button color1 border-grey-1 wide_button">Submit</a>
                                     </div>
                                  </div>
                               </form>
                            </div>
                         </div>
                         <!-- eof .slide_description -->
                      </div>
                      <!-- eof .slide_description_wrapper -->
                   </div>
                   <!-- eof .col-* -->
                </div>
                <!-- eof .row -->
             </div>
          
    </div>
    <!-- eof flexslider -->
 </section>
 <section class="ls section_padding_top_100 section_padding_bottom_50">
    <div class="container">
       <div class="row">
          <div class="col-sm-12 text-center">
             <h2 class="section_header">
                <span class="small">Getting Cash is</span>
                Easy with Kombo Cash
             </h2>
             <p class="fontsize_20">It may look like Kombo Cash is just in the business of loans on car titles. But for us, it’s much deeper than that. Our goal is to help you get the cash you need right when you need it most.</p>
             <p class="topmargin_50">
                <a href="about.html" class="theme_button color1 wide_button padding10-30">About us</a>
             </p>
          </div>
       </div>
    </div>
 </section>
 <section class="ls section_padding_top_5 section_padding_bottom_5">
<div class="container">
<div class="row">
<div class="col-sm-12 text-center">
 
</div>
<!-- .col-* -->
</div>
<!-- .row -->
</div>
<!-- .container -->
</section>
<section class="cs section_padding_0 columns_padding_0 columns_margin_0 ">
<div class="container-fluid">
<div class="row">
<div class="col-md-3 col-sm-6 after_cover color_bg_1">

 <div class="teaser counter-background-teaser text-center">
    <span class="counter counter-background" data-from="0" data-to="21" data-speed="2100">0</span>
    <h3 class="counter highlight" data-from="0" data-to="21" data-speed="2100">0</h3>
    <h5 class="">Years of<br> Experience</h5>
 </div>

</div>

<div class="col-md-3 col-sm-6 after_cover color_bg_2">

 <div class="teaser counter-background-teaser text-center">
    <span class="counter counter-background" data-from="0" data-to="743" data-speed="2100">0</span>
    <h3 class="counter highlight" data-from="0" data-to="743" data-speed="2100">0</h3>
    <h5 class="">Satisfied<br> Clients</h5>
 </div>

</div>

<div class="col-md-3 col-sm-6 after_cover color_bg_1">

 <div class="teaser counter-background-teaser text-center">
    <span class="counter counter-background" data-from="0" data-to="99" data-speed="2100">0</span>
    <h3 class="counter highlight" data-from="0" data-to="99" data-speed="2100">0</h3>
    <h5 class="">Projects<br> Done</h5>
 </div>

</div>

<div class="col-md-3 col-sm-6 after_cover color_bg_2">

 <div class="teaser counter-background-teaser text-center">
    <span class="counter counter-background" data-from="0" data-to="15" data-speed="2100">0</span>
    <h3 class="counter highlight" data-from="0" data-to="15" data-speed="2100">0</h3>
    <h5 class="">Awards<br> Earned</h5>
 </div>

</div>
</div>
</div>
</section>

 <section class="featured-section section-padding section_padding_top_50">
    <div class="container">
       <div class="row">
          <div class="col-md-12 text-center">
             <div class="section-title">
                <h2 class="margin-bottom-0">Our Features</h2>
                <p class="font-20">We have range of product for your loan solutions</p>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-lg-4 col-md-6">
             <div class="single-featured">
                <!-- <div class="icon rt-icon2-waves-outline"> -->
                   
                   <div class="icon-box">
                       <i class="far fa-comments teaser_icon size_normal round"></i>
                   </div>
             
                   <!-- <img src="img/1.png" alt="" /> -->
             
                <div class="content">
                   <h4 class="feature">Great Support</h4>
                   <!--                             <a href="#">READ MORE <i class="fa fa-angle-double-right"></i></a>
                      -->                        
                </div>
             </div>
          </div>
          <div class="col-lg-4 col-md-6">
             <div class="single-featured feature-border">
                 <div class="icon-box">
                       <i class="far fa-star teaser_icon size_normal round"></i>
                   </div>
                <div class="content">
                   <h4 class="feature">Huge Experience</h4>
                   <!-- <a href="#">READ MORE <i class="fa fa-angle-double-right"></i></a> -->
                </div>
             </div>
          </div>
          <div class="col-lg-4 col-md-6">
             <div class="single-featured feature-border">
                 <div class="icon-box">
                       <i class="far fa-thumbs-up teaser_icon size_normal round"></i>
                   </div>
                <div class="content">
                   <h4 class="feature">Reliable</h4>
                   <!-- <a href="#">READ MORE <i class="fa fa-angle-double-right"></i></a> -->
                </div>
             </div>
          </div>
          <div class="col-lg-4 col-md-6">
             <div class="single-featured">
                 <div class="icon-box">
                       <i class="far fa-lightbulb teaser_icon size_normal round"></i>
                   </div>
                <div class="content">
                   <h4 class="feature">Instant Decision</h4>
                   <!-- <a href="#">READ MORE <i class="fa fa-angle-double-right"></i></a> -->
                </div>
             </div>
          </div>
          <div class="col-lg-4 col-md-6">
             <div class="single-featured feature-border">
                 <div class="icon-box">
                       <i class="fas fa-mobile-alt teaser_icon size_normal round"></i>
                   </div>
                <div class="content">
                   <h4 class="feature">Everything on Phone</h4>
                   <!-- <a href="#">READ MORE <i class="fa fa-angle-double-right"></i></a> -->
                </div>
             </div>
          </div>
          <div class="col-lg-4 col-md-6">
             <div class="single-featured feature-border">
                 <div class="icon-box">
                       <i class="far fa-user teaser_icon size_normal round"></i>
                   </div>
                <div class="content">
                   <h4 class="feature">Customer Focussed</h4>
                   <!-- <a href="#">READ MORE <i class="fa fa-angle-double-right"></i></a> -->
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>
 <div id="testimonials" class="ds color page_testimonials parallax">
    <div class="container">
       <div class="row">
          <div class="col-sm-12 margin-bottom-0">
             <div class="owl-carousel testimonials-owl-dots padding-top-6" data-responsive-lg="3" data-responsive-md="3" data-responsive-sm="3" data-responsive-xs="3" data-center="true" data-loop="true" data-margin="10">
                <div>
                   <img src="../../assets/images-user/faces/01.jpg" alt="">
                </div>
                <div>
                   <img src="../../assets/images-user/faces/03.jpg" alt="">
                </div>
                <div>
                   <img src="../../assets/images-user/faces/04.jpg" alt="">
                </div>
             </div>
             <div class="owl-carousel testimonials-owl-content topmargin_20" data-responsive-lg="1" data-responsive-md="1" data-responsive-sm="1" data-responsive-xs="1" data-loop="true" data-margin="0" data-dots="false" data-nav="false" data-touch-drag="false" data-mouse-drag="false">
                <blockquote class="text-center topmargin_0">
                   <div class="item-meta">
                      <h4 class="bottommargin_0">Erica J. Myers</h4>
                      <p class="small-text grey">Client</p>
                   </div>
                   This has quite possibly been the best experience that I've had. I know I’m making progress and CashGo has given me the freedom to invest that money in other assets.
                </blockquote>
                <blockquote class="text-center topmargin_0">
                   <div class="item-meta">
                      <h4 class="bottommargin_0">Trent D. Gonzalez</h4>
                      <p class="small-text grey">Client</p>
                   </div>
                   My Kombo Cash personal loan will save me thousands of dollars in interest. The application process was fast and effortless. This has quite possibly been the best experience that I've had.
                </blockquote>
                <blockquote class="text-center topmargin_0">
                   <div class="item-meta">
                      <h4 class="bottommargin_0">Cameron M. Velasco</h4>
                      <p class="small-text grey">Client</p>
                   </div>
                   I know I’m making progress and CashGo has given me the freedom to invest that money in other assets. This has quite possibly been the best experience that I've had—easy application process.
                </blockquote>
             </div>
          </div>
       </div>
    </div>
 </div>