<div class="header_top secondary-bg ">
    <div class="container">
       <div class="row">
          <div class="col-sm-12 margin-0 padding-left0">
             <div class="contact_info col-sm-6 margin-top-0 margin-bottom-0 padding-0">
                <a href="mailto:info@example.com"><i class="fa fa-envelope" aria-hidden="true"></i> info@example.com</a>
                <a href="tel:+61-1234-5678-9" class="margin-left-50"><i class="fa fa-phone" aria-hidden="true"></i> +61-1234-5678-9</a>
             </div>
               
          <div class="col-md-2 col-sm-2 to_animate margin-bottom-0 pull-right padding-right-0 margin-top-4">
          <div class="widget_text text-right">
             
             <div class="col-sm-3 media small-teaser margin-0 padding-0 ">
                <div class="media-middle">
                   <a href="#" class="social-icon color-white color-icon border-icon -icon soc-facebook border-0 margin-bottom-0"></a>
                </div>
                
             </div>
             <div class="col-sm-3 media small-teaser margin-0 padding-0 ">
                <div class="media-middle">
                   <a href="#" class="social-icon color-icon border-icon -icon soc-twitter color-white border-0 margin-bottom-0"></a>
                </div>
               
             </div>
             <div class="col-sm-3 media small-teaser margin-0 padding-0">
                <div class="media-middle">
                   <a href="#" class="social-icon color-icon border-icon -icon soc-linkedin color-white border-0 margin-bottom-0"></a>
                </div>
                
             </div>
             <div class="col-sm-3 media small-teaser margin-0 padding-0">
                <div class="media-middle">
                   <a href="#" class="social-icon color-icon border-icon -icon soc-pinterest color-white border-0 margin-bottom-0"></a>
                </div>
               
             </div>

          </div>

       </div>
               
          </div>
       </div>
    </div>
 </div>



    <div id="canvas">
       <div id="box_wrapper">
         
          <header class="page_header header_white toggler_xs_right section_padding_30 height-auto">
             <div class="container">
                <div class="row">
                   <div class="col-sm-12 display_table">
                      <div class="header_left_logo padding-left0 display_table_cell">
                         <a href="dashboard.html" class="logo top_logo padding-0">
                         <img src="../../assets/images-user/horizontal2.png" alt="">
                         </a>
                      </div>
                      <div class="header_mainmenu display_table_cell text-center padding-menu">
                         <!-- main nav start -->
                         <nav class="mainmenu_wrapper">
                            <ul class="mainmenu nav sf-menu">
                               <li class="active">
                                  <a href="#">Dashboard</a>
                               </li>
                               <li>
                                  <a routerLink="borrowing">Borrowing</a>
                               </li>
                               <li>
                                  <a href="user-faq.html">FAQ's</a>
                               </li>
                               <li>
                                  <a href="user-contact.html">Contact</a>
                               </li>
                               <li>
                                  <a href="notifications.html" class="far fa-bell border-0 margin-bottom-0 font-size-28"></a>
                               </li>
                               <li>
                                  <!-- <a href="profile.html" class="rt-icon2-user3 border-0 margin-bottom-0"></a> -->
                                  <div id="dropdown" class="ddmenu margin-bottom-0">
                                     <!-- <img src="images/team/03.jpg"> -->
                                     <ul>
                                       <li><a href="profile.html">My Profile</a></li>
                                       
                                       <li><a href="settings.html">Account Settings</a></li>
                                     
                                       <li><a href="homepage.html">Sign out</a></li>
                                     </ul>
                                   </div>
                               </li>

                            </ul>
                         </nav>
                        
                         <span class="toggle_menu">
                            <span></span>
                         </span>
                      </div>
                     
                   </div>
                </div>
             </div>
          </header>

<router-outlet></router-outlet>

          <footer class="page_footer ds section_padding_top_50 section_padding_bottom_65 columns_padding_25 table_section">
            <div class="container padding-0 padding-top-5">
               <div class="row font-14">
                  <div class="col-md-4 col-sm-12 text-left">
                     <div class="widget widget_text">
                        <a href="index.htm" class="logo vertical_logo">
                           <img src="../../assets/images-user/horizontal.png" class="max-width" alt="">
                        </a>

                        <p class="">Kombo Cash actively pursues its mission of supporting healthy and productive lifestyles for the community while teaching, enhancing, and connecting residents and youth to fresh produce and education about urban gardening.</p>

                      
                     </div>
                  </div>
                  <div class="col-md-4 col-sm-6 text-left">
                     <div class="widget widget_text widget_media_margin">
                        <h3 class="widget-title margin-bottom-21 color-blue-grey font-20">Explore</h3>
                        <ul class="list1 no-bullets no-top-border no-bottom-border greylinks">
                           <li class="padding-top-5 padding-bottom-5 margin-bottom-0 margin-top-0">
                              <a href="#">About Us</a>
                           </li>
                           <li class="padding-top-5 padding-bottom-5 margin-bottom-0 margin-top-0">
                              <a href="#">Terms and Conditions</a>
                           </li>
                           <li class="padding-top-5 padding-bottom-5 margin-bottom-0 margin-top-0">
                              <a href="#">Cookie Policy</a>
                           </li>
                           <li class="padding-top-5 padding-bottom-5 margin-bottom-0 margin-top-0">
                              <a href="#">Privacy Policy</a>
                           </li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-md-4 col-sm-6 left">
                     <div class="widget widget_mailchimp widget_media_margin">
                        <h3 class="widget-title margin-bottom-21 color-blue-grey font-20">Newsletter</h3>
                          

                     <ul class="list1 no-bullets no-top-border no-bottom-border">

                        <li class="padding-0">
                           <div class="media">
                              <div class="media-left">
                                 <i class="rt-icon2-shop highlight2 color-pink"></i>
                              </div>
                              <div class="media-body">
                                 <!-- <h6 class="media-heading color-blue-grey">Postal Address:</h6> -->
                                 PO Box 97845 Some str. 567, Los Angeles, California, United States
                              </div>
                           </div>
                        </li>
                        <li class="padding-0">
                           <div class="media">
                              <div class="media-left">
                                 <i class="rt-icon2-phone5 highlight2 color-pink"></i>
                              </div>
                              <div class="media-body">
                                 <!-- <h6 class="media-heading color-blue-grey">Phone:</h6> -->
                                 8(800) 123-12345
                              </div>
                           </div>
                        </li>
                        <li class="padding-0">
                           <div class="media">
                              <div class="media-left">
                                 <i class="rt-icon2-mail highlight2 color-pink"></i>
                              </div>
                              <div class="media-body greylinks">
                                 <!-- <h6 class="media-heading color-blue-grey">Email:</h6> -->
                                 <a href="mailto:your@mail.com">komboCash@example.com</a>
                              </div>
                           </div>
                        </li>
                     </ul>
                     </div>
                  </div>
               </div>
            </div>
         </footer>
                     <section class="ds color page_copyright with_top_border_container">
                        <div class="container">
                           <div class="row">
                              <div class="col-sm-12 text-center">
                                 <p class="font-size-14">&copy; Copyright 2019 <span class="font-weight-900">Kombo Cash</span>. Made with <span style="color: red; font-size: 25px;">&hearts;</span> by <span class="font-weight-900" style="color: #b81f6f;">VAYUZ Technologies.</span></p>
                              </div>
                           </div>
                        </div>
                     </section>
                  </div>
                  <!-- eof #box_wrapper -->
               </div>
               <!-- eof #canvas -->
               <script src="../../assets/js-user/compressed.js"></script>
               <script src="../../assets/js-user/main.js"></script>
               <script type="text/javascript">
                  $('#sign-in-button').click(function(){
                  
                  $('#sign_in').fadeIn({queue: false, duration: 'slow'});
      })
                   $('.cross').click(function(){
                 
                  $('#sign_in').fadeOut({queue: false, duration: 'slow'});
                  
      })
                   $('#otp-submit').click(function(){
         $('#forgot-password').fadeIn({queue: false, duration: 'slow'});
        $('#sign-in-form').fadeOut( {queue: false, duration: 'slow'});
         $('#sign-in-form').animate({ 'left': "-700px" }, 'slow');
      })
               </script>

               <script type="text/javascript">
                  $('#business').click(function(){
                     $("#vehicle").hide();
                     $("#rent").hide();
                     $("#student").hide();
                     $("#medical").hide();
                     $("#land").hide();
                     $("#amount").fadeIn();
         // $('#business').fadeIn({queue: false, duration: 'slow'});
                 $('#business').animate({ 'left': "-10px" }, 'slow').css("border-right","1px solid black");
      })
                  $('#vehicle').click(function(){
                     $("#business").hide();
                     $("#rent").hide();
                     $("#student").hide();
                     $("#medical").hide();
                     $("#land").hide();
                     $("#amount").fadeIn();
         // $('#business').fadeIn({queue: false, duration: 'slow'});
                 $('#vehicle').animate({ 'left': "-10px" }, 'slow');
      })
                  $('#rent').click(function(){
                     $("#vehicle").hide();
                     $("#business").hide();
                     $("#student").hide();
                     $("#medical").hide();
                     $("#land").hide();
                     $("#amount").fadeIn();
         // $('#business').fadeIn({queue: false, duration: 'slow'});
                 $('#rent').animate({ 'left': "-10px" }, 'slow');
      })
                  $('#student').click(function(){
                     $("#vehicle").hide();
                     $("#rent").hide();
                     $("#business").hide();
                     $("#medical").hide();
                     $("#land").hide();
                     $("#amount").fadeIn();
         // $('#business').fadeIn({queue: false, duration: 'slow'});
                 $('#student').animate({ 'left': "-10px" }, 'slow');
      })
                  $('#medical').click(function(){
                     $("#vehicle").hide();
                     $("#rent").hide();
                     $("#student").hide();
                     $("#business").hide();
                     $("#land").hide();
                     $("#amount").fadeIn();
         // $('#business').fadeIn({queue: false, duration: 'slow'});
                 $('#medical').animate({ 'left': "-10px" }, 'slow');
      })
                  $('#land').click(function(){
                     $("#vehicle").hide();
                     $("#rent").hide();
                     $("#student").hide();
                     $("#medical").hide();
                     $("#business").hide();
                     $("#amount").fadeIn();
         // $('#business').fadeIn({queue: false, duration: 'slow'});
                 $('#land').animate({ 'left': "-10px" }, 'slow');
      })
                  $('#cross').click(function(){
                     $("#vehicle").fadeIn();
                     $("#rent").fadeIn();
                     $("#student").fadeIn();
                     $("#medical").fadeIn();
                     $("#business").fadeIn();
                     $("#land").fadeIn();
                     $("#amount").hide();
                     $("#business").css("border-right","0px");
                  })
                  $("#dropdown").on("click", function(e){
  
  if
   ($(this).hasClass("open") ) {
   
    $(this).removeClass("open");
    $(this).children("ul").slideUp("fast");}
 else {
    $(this).addClass("open");
    $(this).children("ul").slideDown("fast");
  }
});
               //   $(document).ready(function() {
               //    $('#example').DataTable();
               // } );
               </script>          
